* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	list-style: none;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	text-decoration: none;
	/* border: 1px solid red; */
}
:root {
	--bg: #f1faee;
	--text: #1d3557;
	--accent: #e63946;
	--header: #a8dadc;
	--other: #457b9d;
}

body {
	background-color: var(--bg);
}

#loading {
	font-size: 5rem;
	color: var(--text);
	text-align: center;
}

.header {
	width: 100vw;
	height: 5rem;
	background-color: var(--header);
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.subHeaders {
	color: var(--text);
	text-align: center;
	font-size: 3rem;
	margin: 1.5rem 0;
}

.navLinks {
	/* width: 10vw; */
	display: flex;
	justify-content: space-around;
	gap: 1rem;
}

.navLinks > li {
	border-radius: 1rem;
	background-color: var(--other);
	padding: .5rem 1.5rem;
	font-size: 1.5rem;
}

.links {
	color: var(--bg);
}

.navLinks > li:hover {
	background-color: rgba(69, 123, 157, 60%);
	box-shadow: 0px 3px 0.5rem;
}

.articleList {
	width: 100vw;
	height: 100vh;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	justify-items: center;
}

.article {
	width: 500px;
	margin: 1rem;
	padding: 1rem;
}

img {
	width: 200px;
}
